Django>=4.2
lxml
requests
numpy
pandas
scipy
matplotlib
python-dotenv
xmlschema>=2.0
Django>=4.2
eventlet>=0.40.3
flask>=3.1.2
flask-socketio>=5.5.1
lxml
matplotlib
networkx>=3.5
numpy
pandapipes>=0.12.0
pandas
plotly>=6.3.0
psycopg2-binary>=2.9.10
pymodbus>=3.11.1
pymodbustcp>=0.3.0
python-dotenv
python-socketio>=5.13.0
requests
scipy
xmlschema>=2.0